################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
*.sqlite-journal
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/ipaddr.txt
