name: Create ZIP on Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  Create ZIP on release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Copy README from docs folder
        run: |
          cp _docs/README.pdf UK/README.pdf

      - name: Get Release Tag
        id: get_release_tag
        run: |
          echo "::set-output name=tag::${{ github.event.release.tag_name }}"

      - name: Package Folder as ZIP
        run: |
          zip -r "uk_controller_pack_${{ steps.get_release_tag.outputs.tag }}.zip" UK/ -x "*.py"
          
      - name: Upload ZIP as Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: |
            uk_controller_pack_${{ steps.get_release_tag.outputs.tag }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
