name: Compile LogonDetails.exe

on:
  push:
    branches:
      - 'main'

jobs:
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      build: ${{ steps.filter.outputs.build }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build:
              - './workflows/logon-details/LogonDetails.py'

  build-exe:
    name: Build executable
    runs-on: windows-latest
    needs: changes
    if: ${{ needs.changes.outputs.build == 'true' }}
    concurrency:
      group: uk-controller-pack-build-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.VATSIM_UK_GITHUB_TOKEN }}

      - name: Pull latest changes
        run: git pull --ff-only

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install pyinstaller
          pip install pillow
          pip install sounddevice


      - name: Compile executable
        run: pyinstaller --distpath UK/ workflows/logon-details/LogonDetails.spec

      - name: Commit executable
        run: |
          git config --local user.email "privileged-access@vatsim.uk"
          git config --local user.name "VATSIM UK"
          git add UK/LogonDetails.exe
          git commit -m "Update LogonDetails.exe"
          git push
